@charset "utf-8";
.futureBuy_content,.futureBuy_relative{
    overflow: hidden;
    margin: 30px auto;
}

.futureBuy_content_title {
    font-size: 14px;
    margin-bottom: 20px;
}

.futureBuy_contentimg {
    border: 1px solid #f9f9f9;
    margin-right: 20px;
}

.futureBuy_content_r {
    width: 743px;
    margin-top: 38px;
    background: #fff;
    padding: 10px 15px 54px 20px;
    border: 1px solid #f9f9f9;
}

.futureBuy_content_tb {
    background: #fff9fa;
    font-size: 14px;
}

.futureBuy_content_text {
    padding: 20px 0;
    overflow: hidden;
    font-size: 14px;
}

.futureBuy_content_text2 {
    overflow: hidden;
    line-height: 27px;
    margin-bottom: 30px;
}

.futureBuy_content_text2>span {
    font-size: 14px;
    margin-right: 34px;
}

.futureBuy_content_text2>span:not(:first-child) {
    padding: 0 5px;
    color: #999;
    margin-left: 50px;
}

a.shopcar,a.immediately_buy {
    border: 1px solid #e3201a;
    font-size: 16px;
    width: 180px;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #e3201a;
}

a.immediately_buy {
    background: #e3201a;
    color: #fff;
    margin: 0 15px 0 5px;
}

.online_search2 {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    color: #333;
}

span.online_search2::before {
    content: url("../icon/words_icon.png");
    display: inline-block;
    margin: 0 10px 0 20px;
    position: relative;
    top: 5px;
}

a.shopcar img {
    float: left;
    position: relative;
    top: 12px;
    left: 27px;
}

.futureBuy_content_text>li {
    float: left;
    width: 50%;
    padding: 5px 0;
}

table.futureBuy_content_tb caption {
    padding: 10px 0;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

table.futureBuy_content_tb td,table.futureBuy_content_tb th {
    padding: 20px 5px 0 15px;
    font-size: 14px;
    /* border-bottom: 1px solid #bfbfbf; */
}

table.futureBuy_content_tb>tbody>tr:last-child>td:not(:first-child) {
    color: #e60012;
}

table.futureBuy_content_tb>tbody>tr:last-child>td {
    padding-bottom: 20px;
    padding-top: 10px;
}

ul.futureBuy_content_title>li {
    display: inline-block;
}

ul.futureBuy_content_title>li:not(:last-child)::after {
    content: '>';
    display:inline-block;
    margin-right: -5px;
}
.count_count{
	overflow: hidden;
}
.delivery_time{
	margin-right: 20px;
}
.count_count>li{
	float: left;
	width: 186px;
	height: 28px;
	border: 1px solid #bfbfbf;
	line-height: 30px;
	text-align: center;
	margin-right: 50px;
	margin-bottom: 10px;
	cursor: pointer;
}
.count_count>li:hover{
	color: #e60012;
	border: 1px solid #e60012;
}
.count_count>li:hover .count_color{
	color: #e60012;
}
.industry_totalwidth.futureBuy_totalwidth{
    width: 298px;
    border: 1px solid #f9f9f9;
    margin-right: 20px;
    background: #fff;
}

.industry_width {
    padding-bottom: 10px;
}

.industry_imglist {
    padding: 0;
}

.industry_imglist img {
    display: block;
    margin: 0 auto;
}

.imglist_title {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfbf;
}

.imglist_text {
    overflow: hidden;
    font-size: 16px;
    padding: 5px 15px;
    border-bottom: 1px solid #f6f6f6;
}

.imglist_text:last-child {
    border-bottom: none;
}

span.imglist_price.right {
    color: #e60012;
}

.futureBuy_relative_title{
    text-align:left;
    font-weight:bold;
    padding: 12px 10px 11px;
    font-size: 16px;
    border-bottom: 1px solid #f6f6f6;
    color: #e3201a;
}

.futureBuy_product {
    /* border: 1px solid #bfbfbf; */
    padding: 20px 0;
    font-size: 14px;
    overflow: hidden;
}

.futureBuy_product>ul {
    float: left;
    width: 202px;
}

.futureBuy_product>ul>li {
    margin: 5px 0;
}

.futureBuy_relative_r{
    width:880px;
    background: #fff;
}

.futureBuy_pdt_details img {
    width: 100%;
}

.futureBuy_relative_r tr>td:nth-child(odd) {
    text-align: right;
}

.futureBuy_relative_r tr>td:nth-child(even) {
    text-align: left;
    font-weight: 600;
}

.futureBuy_relative_r tr>td{
    padding: 5px 0;
}