@charset "utf-8";
/**
   writeen by fastfan 2017.09.01
   secondery css
*/
/*header*/
.header,.footbar{
	background-color: #fff;
	overflow: hidden;
}
.maingoodsnav{
	display: none;
}
.setrequire{
	height: 35px;
    width: 106px;
    float: right;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #434343;
    outline: none;
    border: 1px solid #eee;
}
/*main*/
.main{
	overflow: hidden;
}
.nav_barbg {
    background:#d62829;
    margin-bottom: 10px;
}
.adv_bar{
    height: 225px;
    position: relative;
    overflow: hidden;
    margin-bottom: 31px;
}
.adv_bar .navadvator {
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat;
    height: 225px;
    background-size: cover;
}
.footerlinks>li:first-child{
	margin-top: 28px;
}

/*industry_artical*/
.industry_artical{
	width: 880px;
	overflow: hidden;
}
.industry_nav{
	overflow: hidden;
}
.industry_nav>li{
	float: left;
	font-size: 14px;
	color: #333;
}
.industry_nav>li:first-child{
	margin-left: 16px;
}
.industry_nav>li:not(:last-child)::after{
	content: ">";	
}
.industry_artical>h5{
	clear: both;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 16px;
	margin-top: 30px;
} 
.industry_artical>h6{
	font-size: 12px;
	color: #666;
	text-align: center;
	line-height: 12px;
	font-weight: normal;
	margin-top: 12px;
	margin-bottom: 22px;
} 
.industry_text{
	font-size: 14px;
	text-indent: 2em;
	line-height: 21px;
	padding-left: 27px;
    padding-right: 20px;
}
.industry_text2{
	margin-bottom: 28px;
}
.keywords{
	margin-top: 47px;
	font-size: 14px;
	color: #333;
	margin-left: 27px;
}
.industry_img{
	
}
.industry_img>li:first-child{
	margin-bottom: 20px;
}
.industry_totalwidth{
	
}
.industry_width{
	padding: 15px;
	border: 1px solid #efefef;
}
.imglist_title{
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #efefef;
    padding-bottom: 12px;
}
.imglist_ftitle{
	
}
.imglist_seemore{
	float: right;
	color: #E60012;
	cursor: pointer;
}
.industry_imglist{
	margin-top: 14px;
	margin-bottom: 6px;
}
.imglist_text{
	
}
.imglist_name{
	
}
.imglist_price{
	float: right;
	color: #E60012;
	font-size: 14px;
}
