@charset "utf-8";
/**
   writeen by fastfan 2017.09.01
   secondery css
*/
/*header*/
.header,.footbar{
	background-color: #fff;
	overflow: hidden;
}
.maingoodsnav{
	display: none;
}
.setrequire{
	height: 35px;
    width: 106px;
    float: right;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #434343;
    outline: none;
    border: 1px solid #eee;
}
/*main*/
.main{
	overflow: hidden;
}
.nav_barbg {
    background:#d62829;
    margin-bottom: 10px;
}
.adv_bar{
    height: 260px;
    position: relative;
    overflow: hidden;
    margin-bottom: 31px;
}
.adv_bar .navadvator {
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat;
    height: 260px;
    background-size: cover;
}
.footerlinks>li:first-child{
	margin-top: 28px;
}

/*industry_info*/
.industry_title{
	overflow: hidden;
}
.industry_title>li{
	float: left;
	font-size: 14px;
	color: #666;
	margin-bottom: 19px;
}
.industry_title>li:not(:last-child)::after{
	content: ">";
}
.industry_left{
	overflow: hidden;
	width: 845px;
	background-color: #fff;
	padding:0 20px;
	margin-bottom: 50px;
}

.industry_leftcontent{
	overflow: hidden;
	border-bottom: 1px solid #efefef;
    padding: 20px 0;
}
.industry_leftcontent2{
	border: none;
}
.industry_artical{
	width: 660px;
	margin-left: 15px;
}
.artical_title{
	font-size: 16px;
	color: #111;
	margin-bottom: 13px;
}
.artical_content{
	font-size: 14px;
	color: #666;
	line-height: 24px;
}
.industry_right{
	width: 295px;
}
.industry_rightimg{
	margin-bottom: 15px;
}

.product_rcd{
	overflow: hidden;
	background-color: #fff;
}
.rcd_list{
	border-bottom:1px solid #efefef ;
	overflow: hidden;
}
.rcd_list>h4{
	font-size: 14px;
	color: #434343;
	border-left: 3px solid #E60012;
    margin-left: 15px;
    margin-top: 12px;
	padding-left: 10px;	
	float: left;
}
.rcd_list>a{
	float: right;
	font-size: 14px;
	line-height: 44px;
	margin-right: 15px;
}
.rcd_img{
	line-height: 197px;
	text-align: center;
}
.rcd_text{
	line-height: 46px;
	font-size: 16px;
	color: #434343;
	width: 265px;
    border-bottom: 1px solid #efefef;
    margin: auto;
}
.rcd_text2{
	border-bottom: none;
}
.rcd_price{
	float: right;
	color: #E60012;
}
