@charset "utf-8";
/*login登录注册*/
.loginpagehead{
    padding:40px 0;
    overflow: hidden;
}

.loginlogo {
    float: left;
}

.logintellinfo {
    float: right;
    margin-top: 10px;
    font-size: 14px;
}

a.loginsoon {
    color: #ff0000;
}
.loginpagebody{
    padding: 100px 110px;
}

.loginwindow{
    border: 1px solid #ddd;
    height: 368px;
    position: relative;
    z-index: 10;
}
.windowleft{
    width: 564px;
    height: 368px;
    float: left;
    background: url("../images/loginadv.jpg") no-repeat center center;
}
.windowright{
    width: 314px;
    border-left: 1px solid #ddd;
    margin-left: -1px;
    position: absolute;
    height: 308px;
    padding: 30px 50px;
    background:#fff;
    top: 55px;
    right: 0;
}

.newlogbg {
    height: 478px;
    overflow: hidden;
    background:url("../images/login-background.jpg") no-repeat center center;
    position: relative;
}
.windowtitle{
    padding: 5px 0;
    font-size: 18px;
    margin-bottom: 10px;
}
.useriddiv,.psddiv{
    height: 42px;
    border: 1px solid #ddd;
    background: url("../icon/userid_icon.png") 0 0 no-repeat;
    overflow: hidden;
    margin-bottom: 20px;
}
.psddiv{
    background: url("../icon/passwd_icon.png") 0 0 no-repeat;
    margin-bottom: 10px;
}

.autoselect {
    overflow: hidden;
    margin-bottom: 30px;
}

.autologin {
    float: left;
}

.regandforget {
    float: right;
    font-size: 16px;
    color: #e60012;
    cursor: pointer;
}

.regandforget::before{
    content: url("../icon/reg_icon.png");
    position: relative;
    top: 3px;
    right: 6px;
}
.regbtndiv{
	overflow: hidden;
}
.login_in {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #e60012;
    padding: 8px 0;
    margin-bottom: 10px;
}
.loginbtn{
    overflow: hidden;
    margin-top: 20px;
    cursor: pointer;
}

.logininput {
    float: right;
    width: 260px;
    font-size: 14px;
    padding: 12px 0;
    border: none;
    outline: none;
}

.loginpagefoot{
    text-align: center;
    padding: 20px 0 90px;
    border-top: 3px solid #ff0036;
}

.footer_infomation {
    margin-bottom: 10px;
}

a.login_footerlink {
    color: #333;
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.footer_infomation>a.login_footerlink:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: -3px;
    color: #666 !important;
}

span.lengrageowner {
    display: inline-block;
}

.regpagebody{
    background: #f2f2f2;
    padding: 20px 0 90px;
}

.userinfowriteborder {
    background: #fff;
    color: #333;
}

.userkind_tab {
    /* width: 300px; */
    padding-top: 30px;
    margin-left: 300px;
    font-size: 14px;
    color: #333;
}
.radio_active{
	cursor: pointer;
}
.labelli {
    display: inline-block;
    width: 80px;
    margin-right: 11px;
    cursor: pointer;
}

.usertype {
    position: absolute;
    margin-right: 20px;
    margin-top: 4px;
}
.radio_select{
	display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    margin-right: 5px;
    background: url(../icon/click_select.png) no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.radio_select2{
	display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    margin-right: 5px;
    background: url(../icon/click_selectd.png) no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.tabuser {
    padding: 15px 0;
    font-size: 18px;
    overflow: hidden;
}

.writinghandle {
    margin: 15px 0;
    overflow: hidden;
    vertical-align: middle;
}


.writinghandle>li {
    min-width: 300px;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 38px;
    vertical-align: middle;
}

li.writing_inputarea>select {
    display: inline-block;
    margin-top: 8px;
    float: left;
    min-width: 80px;
    text-align: center;
}

li.writing_inputarea>select:not(:last-child) {
    margin-right: 15px;
}

.writing_input {
    width: 240px;
    padding: 6px 25px 6px 0;
    float: left;
}

.getkeyword {
    background: #f5f5f5;
    color: #333;
    border: 1px solid #e6e6e6;
    padding: 7px 5px;
    float: left;
    margin-left: -1px;
}

li.writinglabel {
    text-align: right;
}

li.writinglabel,li.writedwrong {
    position: relative;
    top: 8px;
}

li.writedwrong {
    color: #ee4133;
}


.tabuser h3 {
    text-align: center;
    width: 50%;
    float: left;
    font-weight: 400;
}

.tabuser h3:hover{
    color: #ee4133;
}

.userneedtokonw {
    color: #2783e8;
    margin-top: 2px;
}

.clicktoreg {
    width: 270px;
    text-align: center;
    background: #e60012;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    display: inline-block;
    cursor: pointer;
}

.clicktoregdiv {
    margin: 30px 0 0 300px;
    padding-bottom: 30px;
    clear: both;
    margin-top: 48px;
}
.checkbox_select{
	display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    background: url(../icon/check_select.png) no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.checkbox_select2{
	display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    background: url(../icon/check_selectd.png) no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.regtype{
	margin-left: 95px;
}
.check_active{
	margin-left: -24px;
}
