@charset "utf-8";
/**
   writeen by fastfan 2017.09.01
   secondery css
*/
/*header*/
.header,.footbar{
	background-color: #fff;
	overflow: hidden;
}
.maingoodsnav{
	display: none;
}
.setrequire{
	height: 35px;
    width: 106px;
    float: right;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #434343;
    outline: none;
    border: 1px solid #eee;
}
/*main*/
.main{
	overflow: hidden;
}
.nav_barbg {
    background:#d62829;
    margin-bottom: 10px;
}
.adv_bar{
    height: 225px;
    position: relative;
    overflow: hidden;
    margin-bottom: 31px;
}
.adv_bar .navadvator {
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat;
    height: 225px;
    background-size: cover;
}
.footerlinks>li:first-child{
	margin-top: 28px;
}
.standards_l{
	overflow: hidden;
	background-color: #fff;
	width: 840px;
}
.standards_l_title{
	overflow: hidden;
	border-bottom: 1px solid #f6f6f6;
}
.standards_l_list{
	overflow: hidden;
}
.standards_l_list>li{
	float: left;
	font-weight: bold;
	font-size: 16px;
	color: #333;
	line-height: 46px;
}
.standards_l_list>li:first-child{
	margin-left: 15px;
}
.standards_l_list>li:not(:last-child)::after{
	content: ">";
	margin-right:10px ;
}
.online_search{
	
}
.online_search>a{
	font-size: 16px;
	color: #434343;
	line-height: 46px;
	margin-right: 16px;
}
.inner_sixtitle{
	font-size: 18px;
	font-weight: bolder;
	color: #333;
	text-align: center;
	margin: 16px 0 21px 0;
}
.inner_siximg{
	clear: both;
	font-size: 16px;
	color: #434343;
	font-weight: bold;
	margin-bottom: 15px;
	margin-left: 35px;
}
.standards_l_listimg{
	width: 764px;
	line-height: 264px;
	text-align: center;
	margin: auto;
	border: 1px solid #efefef;
	overflow: hidden;
	margin-bottom: 20px;
}
.standards_l_listimg>li{
	float: left;
	text-align: center;
	width: 30%;
	margin-right: 4.8%;
	border-right: 1px solid #efefef;
}
.standards_l_listimg>li:last-child{
	margin-right: 0;
	border-right:0;
}
.add_line{
	background-color: #efefef;
	height: 1px;
}
.standard_details_tb{
	width: 766px;
	margin: auto;
	border:1px solid #efefef;
	border-color: #efefef;
	margin-bottom: 16px;
}
.standard_details_tb>caption{
	font-size: 16px;
	color: #434343;
	font-weight: bold;
	text-align: left;
	line-height: 44px;
}
.standard_details_tb tr td{
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	color: #434343;
}
.standard_details_profile{
	 text-align: right;
    margin-right: 38px;
    line-height: 44px;
    font-size: 14px;
}

.supplier_r{
	width: 340px;
	overflow: hidden;
}
.product_rcd{
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 11px;
}
.rcd_list{
	border-bottom:1px solid #efefef ;
	overflow: hidden;
}
.rcd_list>h4{
	font-size: 14px;
	color: #434343;
	border-left: 3px solid #E60012;
    margin-left: 15px;
    margin-top: 12px;
	padding-left: 10px;	
	float: left;
}
.rcd_list>a{
	float: right;
	font-size: 14px;
	line-height: 44px;
	margin-right: 15px;
}
.rcd_img{
	line-height: 197px;
	text-align: center;
	border-bottom:1px solid #efefef ;
}
.rcd_text{
	line-height: 46px;
	font-size: 16px;
	color: #434343;
}
.rcd_name{
	margin-left: 15px;
}
.rcd_price{
	float: right;
	color: #E60012;
	margin-right: 15px;
}

