@charset "utf-8";
/**
   writeen by fastfan 2017.09.01
   secondery css
*/
/*header*/
.header,.footbar{
	background-color: #fff;
	overflow: hidden;
}
.maingoodsnav{
	display: none;
}
.setrequire{
	height: 35px;
    width: 106px;
    float: right;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #434343;
    outline: none;
    border: 1px solid #eee;
}
/*main*/
.main{
	overflow: hidden;
}
.nav_barbg {
    background:#d62829;
    margin-bottom: 10px;
}
.adv_bar{
    height: 225px;
    position: relative;
    overflow: hidden;
    margin-bottom: 31px;
}
.adv_bar .navadvator {
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat;
    height: 225px;
    background-size: cover;
}
.footerlinks>li:first-child{
	margin-top: 28px;
}

/*selectlist_title*/
.selectlist_title{
	line-height: 46px;
	font-size: 18px;
	font-weight: bold;
	padding-left: 16px;
}
.standard_select{
	overflow: hidden;
	border-bottom: 1px solid #f6f6f6;
	background-color: #fff;
}
.selectlist_data{
	line-height: 46px;
}
.selectlist_data>li{
	float: left;
}
.selectlist_data>li:not(:first-child){
	width: 52px;
	height: 28px;
	background-color: #e6e6e6;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	text-align: center;
	margin-right: 10px;
	border-radius: 2px;
	margin-top: 10px;
	cursor: pointer;
}
.selectlist_data>li:last-child{
	margin-right: 14px;
}

.standard_select>.selectlist_data>.selected{
	background-color: #6f97f3;
	color: #fff;
}
.select_classify,.select_standard{
	overflow: hidden;
	background-color: #fff;
	color: #333;
	font-size: 16px;
	border-bottom: 1px solid #f6f6f6;
}
.classify_title,.standard_title{
	font-weight: bold;
	padding-left: 16px;
	line-height: 46px;
	margin-right: 38px;
}
.classifylist,.standardlist{
	overflow: hidden;
	line-height: 46px;
}
.classifylist>li,.standardlist>li{
	float: left;
	padding-right: 30px;
}
.classify_infolist{
	background-color: #fff;
	overflow: hidden;
	width: 660px;
}
.infolist_title{
	font-size: 18px;
	color: #333;
	font-weight: bold;
	border-bottom: 1px solid #f6f6f6;
	line-height: 46px;
	padding-left: 15px;
}
.infolist_artical,.infolist_artical2,.infolist_artical3{
	overflow: hidden;
	border-bottom: 1px solid #f6f6f6;
}

.infolist_artical>li,.infolist_artical2>li,.infolist_artical3>li{
	float: left;
}
.infolist_artical2,.infolist_artical,.infolist_artical3{
	font-size: 16px;
	line-height: 46px;
	color: #333;
	padding-left: 15px;
}
.classify_infoimg{
	border-right: 1px solid #F6F6F6;
}
.infolist_artical2{
	border: none;
}
.infolist_artical3{
	border: none;
	line-height: 34px;
}
.classify_info{
	width: 923px;
	overflow: hidden;
	margin-bottom: 10px;
}
.product_recommend{
	margin-top: 32px;
	background-color: #fff;
	padding: 10px;
	font-size: 16px;
}
.product_recommend_title{
	font-size: 18px;
	line-height: 46px;
	color: #333;
	border-bottom: 1px solid #F6F6F6;
	font-weight: bold;
}
.product_img{
	margin-top: 10px;
	margin-bottom: 15px;
}
.product_details{
	
}
.product_details_name{
	
}
.product_details_price{
	float: right;
	color: #E60012;
}
