@charset "utf-8";
/**
   writeen by fastfan 2017.09.01
   secondery css
*/
/*header*/
.header,.footbar{
	background-color: #fff;
	overflow: hidden;
}
.maingoodsnav{
	display: none;
}
.setrequire{
	height: 35px;
    width: 106px;
    float: right;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #434343;
    outline: none;
    border: 1px solid #eee;
}
/*main*/
.main{
	overflow: hidden;
}
.nav_barbg {
    background:#d62829;
    margin-bottom: 10px;
}
.adv_bar{
    height: 260px;
    position: relative;
    overflow: hidden;
    margin-bottom: 31px;
}
.adv_bar .navadvator {
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat;
    height: 260px;
    background-size: cover;
}
.footerlinks>li:first-child{
	margin-top: 28px;
}

/*selectlist_title*/
.selectlist_title{
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	color: #333;
	margin-left: 16px;
    border-left: 3px solid #e60012;
    margin-bottom: 16px;
}
.standard_select{
	overflow: hidden;
}
.selectlist_data{
	line-height: 46px;
}
.selectlist_data>li{
	float: left;
}
.selectlist_data>li:not(:first-child){
	width: 52px;
	height: 28px;
	background-color: #e6e6e6;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	text-align: center;
	margin-right: 10px;
	border-radius: 2px;
	margin-top: 10px;
	cursor: pointer;
}
.selectlist_data>li:last-child{
	margin-right: 14px;
}

.select_classify,.select_standard{
	overflow: hidden;
	background-color: #fff;
	color: #333;
	font-size: 14px;
	border-bottom: 1px solid #f6f6f6;
}
.classify_title,.standard_title{
	padding-left: 16px;
	line-height: 46px;
	margin-right: 22px;
	color: #666;
}
.classifylist,.standardlist{
	overflow: hidden;
	line-height: 46px;
}
.classifylist>li,.standardlist>li{
	float: left;
	margin-right: 35px;
}
.classify_infolist{
	background-color: #fff;
	overflow: hidden;
	width: 703px;
	height: 148px;
}
.infolist_title{
	font-size: 16px;
	color: #111;
	border-bottom: 1px dashed #eee;
	line-height: 40px;
	padding-left: 15px;
}
.infolist_artical,.infolist_artical2,.infolist_artical3{
	overflow: hidden;
	border-bottom: 1px dashed #eee;
}

.infolist_artical>li,.infolist_artical2>li,.infolist_artical3>li{
	float: left;
	margin-right: 20px;
}
.infolist_artical2,.infolist_artical,.infolist_artical3{
	font-size: 14px;
	line-height: 36px;
	color: #333;
	padding-left: 15px;
}
.infolist_artical2>li:first-child,.infolist_artical>li:first-child,.infolist_artical3>li:first-child{
	font-size: 14px;
	color: #666;
	width: 114px;
}
.classify_infoimg{
	border-right: 1px solid #F6F6F6;
}

.infolist_artical3{
	border: none;
	line-height: 34px;
}
.classify_info{
	width: 885px;
	overflow: hidden;
	margin-bottom: 10px;
}
.classify_info2{
	margin-bottom: 50px;
}

.supplier_r{
	width: 295px;
	overflow: hidden;
}
.product_rcd{
	overflow: hidden;
	background-color: #fff;
}
.rcd_list{
	border-bottom:1px solid #efefef ;
	overflow: hidden;
}
.rcd_list>h4{
	font-size: 14px;
	color: #434343;
	border-left: 3px solid #E60012;
    margin-left: 15px;
    margin-top: 12px;
	padding-left: 10px;	
	float: left;
}
.rcd_list>a{
	float: right;
	font-size: 14px;
	line-height: 44px;
	margin-right: 15px;
}
.rcd_img{
	line-height: 197px;
	text-align: center;
}
.rcd_text{
	line-height: 46px;
	font-size: 16px;
	color: #434343;
	width: 265px;
    border-bottom: 1px solid #efefef;
    margin: auto;
}
.rcd_text2{
	border-bottom: none;
}
.rcd_price{
	float: right;
	color: #E60012;
}