@charset "utf-8";
/**
   writeen by fastfan 2017.09.01
   secondery css
*/
/*header*/
.header,.footbar{
	background-color: #fff;
	overflow: hidden;
}
.maingoodsnav{
	display: none;
}
.setrequire{
	height: 35px;
    width: 106px;
    float: right;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #434343;
    outline: none;
    border: 1px solid #eee;
}
/*main*/
.main{
	overflow: hidden;
}
.nav_barbg {
    background:#d62829;
    margin-bottom: 10px;
}
.adv_bar{
    height: 260px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
}
.adv_bar .navadvator {
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat;
    height: 260px;
    background-size: cover;
}
.footerlinks>li:first-child{
	margin-top: 28px;
}

/*supplier_details*/
.supplier_l{
	width: 885px;
	margin-bottom: 30px;
}
.supplier_nav{
	line-height: 46px;
	color: #333;
	font-size: 14px;
	overflow: hidden;
}
.supplier_nav>li{
	float: left;
}


.supplier_nav>li.supplier_navlist::after{
	content: '>';
	margin-right: 9px;
}
.supplier_nav>li>a{
	color: #333;
}
.supplier_l_list{
	background-color: #fff;
	padding-bottom: 20px;
}
.supplier_l_list>h3{
	clear: both;
	font-size: 24px;
	text-align: center;
	color: #111;
	font-weight: normal;
	line-height: 18px;
    padding-top: 30px;
}
.online_search2{
	float: right;
	margin-right: 81px;
	line-height: 16px;
    margin-bottom: 15px;
}
.online_search2>a{
	font-size: 16px;
	color: #434343;
}
.supplier_tab>caption{
	font-size: 16px;
	color: #434343;
	text-align: left;
	font-weight: bold;
	margin-bottom: 15px;
}
.supplier_tab{
	clear: both;
	width: 840px;
	border: 1px solid #ece3f1;
	font-size: 14px;
	color: #434343;
	margin: auto;
}
.supplier_tab tr td{
	border: 1px solid #ece3f1;
	line-height: 42px;
	width: 214px;
}
.supplier_tab tbody tr td:first-child,.supplier_tab tbody tr td:nth-child(3){
	background-color: #f0f6f9;
	width: 137px;
	padding-left: 9px;
}
.supplier_tab tbody tr td:nth-child(2),.supplier_tab tbody tr td:nth-child(4){
	padding-left: 20px;
}
.supplier_tab tfoot tr td{
	text-align: center;
}
.supplier_l_arc{
	background-color: #fff;
	padding-top: 13px;
	padding-bottom: 9px;
}
.supplier_l_arc>h4{
	color: #434343;
	font-size: 16px;
	line-height: 18px;	
	padding-left: 20px;
	margin-bottom: 19px;
}
.supplier_l_arc>p{
	font-size: 14px;
	color: #434343;
	line-height: 32px;
	text-indent: 2em;
	padding: 0 15px;
}
.supplier_r{
	width: 295px;
	overflow: hidden;
}
.product_rcd{
	overflow: hidden;
	background-color: #fff;
}
.rcd_list{
	border-bottom:1px solid #efefef ;
	overflow: hidden;
}
.rcd_list>h4{
	font-size: 14px;
	color: #434343;
	border-left: 3px solid #E60012;
    margin-left: 15px;
    margin-top: 12px;
	padding-left: 10px;	
	float: left;
}
.rcd_list>a{
	float: right;
	font-size: 14px;
	line-height: 46px;
	margin-right: 15px;
}
.rcd_img{
	line-height: 192px;
	text-align: center;
}
.rcd_text{
	line-height: 46px;
	font-size: 14px;
	color: #434343;
}
.rcd_name{
	margin-left: 15px;
}
.rcd_price{
	float: right;
	color: #E60012;
	margin-right: 15px;
}

.product_rcd2{
	margin: 0px 0 20px 0;
}
.reletive_cpy{
	background-color: #fff;
}
.cpy_bigtitle{
	overflow: hidden;
	border-bottom: 1px solid #efefef;
}
.cpy_title{
	font-size: 14px;
	color: #434343;
	border-left: 3px solid #E60012;
    margin: 16px 0 14px 15px;
    padding-left: 10px;
    float: left;
}
.cpy_list{
	clear: both;
}
.cpy_list>li{
	font-size: 16px;
	line-height: 46px;
	border-bottom: 1px solid #efefef;
}

.cpy_list>li::before{
	content: url(../icon/set_icon2.png);
    margin: 0 9px 0 15px;
}
.supplier_bottom{
	clear: both;
	background-color: #fff;
	position: relative;
}
.supplier_bottom>h4{
	line-height: 46px;
	font-size: 16px;
	color: #434343;
	margin-left: 15px;
	margin-bottom: 15px;
}
.cpy_imglist{
	padding-bottom: 16px;	
}
.cpy_imgbox,.cpy_imglist{
	overflow: hidden;
}
.cpy_imglist>li{
	width: 252px;
	height: 275px;
	background-color: #f9f9f9;
	border-radius: 2px;
	float: left;
	margin-right: 15px;
}
.cpy_imglist>li:first-child{
	margin-left: 50px;
}
.arrow_l{
	position: absolute;
	top: 50%;
    left: 15px;
}
.arrow_r{
	position: absolute;
	top:50%;
    right: 15px;
}
